@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

/* font-family: "Lato", sans-serif; */
/* font-family: "IBM Plex Mono", monospace; */

@theme {
    --font-lato: "Lato", sans-serif;
    --font-ibm: "IBM Plex Mono", monospace;
}

@layer base {
    html {
        font-family: var(--font-ibm);
    }
}