@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-roboto: "Roboto Condensed", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
}

@layer {
    html {
        font-family: var(--font-urbanist);
    }
}

.collection-card {
  flex: 1 1 0%;
  transition: flex 0.5s ease;
}

.collection-card.active {
  flex: 2 1 0%;
}

.card-image {
  flex: 1 1 50%;
}

.card-content {
  flex: 1 1 50%;
}